<html>
<head>
	<body>
		<form>
			<label> Pick a number. <input type='text' name='guess'/></label>
			<input type='submit' value ='Guess!' />
		</form>
		<p>
			You guessed <%= show %>. <%= message %> <br>
		</p>
	</body>
</head>
</html>